ul.audits {
    li.audit {
        padding-left: 6em;
        position: relative;
        margin-right: 1em;

        div.trends {
            width: 6em;
            text-align: center;
            color: $dark-grey;
            margin-left: -6em;
            display: inline-block;
            vertical-align: middle;

            span.rank {
                display: block;
                font-size: 5em;
            }

            span.trend {
                position: relative;
                display: inline-block;
                font-size: 1.25em;

                &.neutral {
                    display: none;
                }

                &:before {
                    font-family: 'FontAwesome';
                    vertical-align: middle;
                    padding-right: 0.15em;
                }

                &.positive:before {
                    color: $green;
                    content: '\f0d8';
                }

                &.negative:before {
                    color: $red;
                    content: '\f0d7';
                }
            }
        }

        div.panel {
            padding: 1em 10em 1em 1em;
            margin-top: 0.5em;
            margin-bottom: 0.5em;
            background-color: $light-grey;
            display: inline-block;
            width: 100%;
            vertical-align: middle;

            &:after {
                display: table;
                content: '';
                clear: both;
            }

            div.screenshot {
                @include grid-span(4,1);

                img {
                    width: 100%;
                }
            }

            div.information {
                @include grid-span(8,5);

                div.site ul.records li {
                    display: inline-block;
                    margin-top: 1.5em;

                    &:first-child {
                        border-right: 1px $dark-grey solid;
                        padding-right: 0.5em;
                        margin-right: 0.5em;
                    }

                    span.label, span.date {
                        font-size: 0.75em;
                    }

                    span.value {
                        display: block;
                        font-size: 1.25em;
                    }

                    &.max span.value {
                        color: $green;
                    }

                    &.min span.value {
                        color: $red;
                    }
                }
            }
        }

        &.new div.panel div.information div.site {
            .title:before {
                content: 'new';
                background-color: $dark-grey;
                color: $white;
                border-radius: 0.5em;
                font-size: 0.5em;
                padding: 0.25em;
                font-weight: normal;
                display: inline-block;
                vertical-align: middle;
                margin-right: 0.5em;
            }

            ul.records {
                display: none;
            }
        }

        &:first-child div.panel {
            margin-top: 1em;
        }

        &:last-child div.panel {
            margin-bottom: 1em;
        }

        div.scores {
            width: 8em;
            height: 8em;
            display: inline-block;
            vertical-align: middle;
            margin-left: -9em;
            border-width: 0.25em;
            border-style: solid;
            border-radius: 50%;
            padding: 0.25em;
            @include enable-vertical-center();
            text-align: center;

            ul {
                font-size: 3em;

                li.change {
                    font-size: 0.5em;

                    &.neutral {
                        display: none;
                    }

                    &.positive {
                        color: $green;

                        &:before {
                            content: '+';
                        }
                    }

                    &.negative {
                        color: $red;

                        &:before {
                            content: '-';
                        }
                    }
                }
            }
        }
    }
}
