ul.audits {
    li.audit {
        padding-left: 6em;
        position: relative;
        margin-right: 1em;

        div.trends {
            width: 6em;
            text-align: center;
            color: $dark-grey;
            margin-left: -6em;
            display: inline-block;
            vertical-align: middle;

            span.rank {
                display: block;
                font-size: 5em;
            }

            span.trend {
                position: relative;
                display: inline-block;
                font-size: 1.25em;

                &.neutral {
                    display: none;
                }

                &:before {
                    font-family: 'FontAwesome';
                    vertical-align: middle;
                    padding-right: 0.15em;
                }

                &.positive:before {
                    color: $green;
                    content: '\f0d8';
                }

                &.negative:before {
                    color: $red;
                    content: '\f0d7';
                }
            }
        }

        div.panel {
            padding: 1em;
            margin: 1em 0;
            background-color: $light-grey;
            display: inline-block;
            width: 100%;
            vertical-align: middle;

            &:after {
                display: table;
                content: '';
                clear: both;
            }

            div.screenshot {
                float: left;
                margin-right: 1em;
                width: 30%;
                max-width: 320px;

                img {
                    width: 100%;
                }
            }

            div.scores {
                display: inline-block;
                font-size: 3em;
                float: right;
                border-width: 0.1em;
                border-style: solid;
                border-radius: 50%;
                padding: 0.25em;
            }
        }
    }
}
