ul.audits {
    li.audit {
        padding-left: 3em;
        position: relative;
        margin-right: 1em;

        div.trends {
            width: 3em;
            text-align: center;
            color: $dark-grey;
            margin-left: -3em;
            display: inline-block;
            vertical-align: middle;

            span.rank {
                display: block;
                font-size: 2em;
            }

            span.trend {
                position: relative;
                display: inline-block;

                &.neutral {
                    display: none;
                }

                &:before {
                    font-family: 'FontAwesome';
                    vertical-align: middle;
                    padding-right: 0.15em;
                }

                &.positive:before {
                    color: $green;
                    content: '\f0d8';
                }

                &.negative:before {
                    color: $red;
                    content: '\f0d7';
                }
            }
        }

        div.panel {
            padding: 1em;
            margin-top: 0.5em;
            margin-bottom: 0.5em;
            background-color: $light-grey;
            display: inline-block;
            width: 100%;
            vertical-align: middle;
            box-shadow: 0 0 0.25em rgba($black, 0.5);

            &:after {
                display: table;
                content: '';
                clear: both;
            }

            div.screenshot {
                img {
                    width: 100%;
                }
            }

            div.information {
                margin-top: 1em;

                div.site {
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;

                    ul.records li {
                        display: inline-block;
                        margin-top: 1.5em;

                        &:first-child {
                            border-right: 1px $dark-grey solid;
                            padding-right: 0.5em;
                            margin-right: 0.5em;
                        }

                        span.label, span.date {
                            font-size: 0.75em;
                        }

                        span.value {
                            display: block;
                            font-size: 1.25em;
                        }

                        &.max span.value {
                            color: $green;
                        }

                        &.min span.value {
                            color: $red;
                        }
                    }
                }
            }
        }

        &.new div.panel div.information div.site {
            .title:before {
                content: 'new';
                background-color: $dark-grey;
                color: $white;
                border-radius: 0.5em;
                font-size: 0.5em;
                padding: 0.25em;
                font-weight: normal;
                display: inline-block;
                vertical-align: middle;
                margin-right: 0.5em;
            }

            ul.records {
                display: none;
            }
        }

        &:first-child div.panel {
            margin-top: 1em;
        }

        &:last-child div.panel {
            margin-bottom: 1em;
        }

        div.scores {
            width: 4em;
            height: 4em;
            display: inline-block;
            vertical-align: top;
            margin-top: 1em;
            margin-left: -4em;
            border-width: 0.25em;
            border-style: solid;
            border-radius: 50%;
            background-color: $light-grey;
            padding: 0.25em;
            @include enable-vertical-center();
            text-align: center;
            box-shadow: 0 0 0.5em $black;

            ul {
                font-size: 1.5em;

                li.change {
                    font-size: 0.5em;

                    &.neutral {
                        display: none;
                    }

                    &.positive {
                        color: $green;

                        &:before {
                            content: '+';
                        }
                    }

                    &.negative {
                        color: $red;

                        &:before {
                            content: '-';
                        }
                    }
                }
            }
        }
    }

    @include breakpoint($mobile-large) {
        li.audit {
            div.panel {
                padding-right: 6em;

                div.screenshot {
                    @include grid-span(5,1);
                }

                div.information {
                    margin-top: 0;
                    @include grid-span(7,6);
                }
            }

            div.scores {
                vertical-align: middle;
                margin-top: 0;
                margin-left: -5em;
            }
        }
    }

    @include breakpoint($tablet) {
        li.audit {
            padding-left: 6em;

            div.trends {
                width: 6em;
                margin-left: -6em;

                span.rank {
                    display: block;
                    font-size: 5em;
                }

                span.trend {
                    font-size: 1.25em;
                }
            }

            div.panel {
                padding-right: 10em;
            }

            div.scores {
                width: 8em;
                height: 8em;
                margin-left: -9em;

                ul {
                    font-size: 3em;
                }
            }
        }
    }

    @include breakpoint($desktop) {
        li.audit div.panel {
            div.screenshot {
                @include grid-span(4,1);
            }

            div.information {
                @include grid-span(8,5);
            }
        }
    }

    @include breakpoint($desktop-extra-large) {
        width: 1920px;
        margin-left: auto;
        margin-right: auto;
    }
}
