{
    "couchbase": {
        "server": "db:8091?detailed_errcodes=1",
        "admin": "admin",
        "adminPassword": "password",
        "bucket": "seemly",
        "bucketPassword": "password"
    }
}