<html>
    <head>
        <title>Seemly</title>
    </head>
    <ul>
    {{#audits}}
        <li>
        {{#value}}
            <img src="data:image/png;base64,{{screenshot}}" alt="{{title}}" />
            <h2>{{title}}</h2>
            <span>{{url}}</span>
            <span>{{score}}</span>
        {{/value}}
        <li>
    {{/audits}}
    </ul>
</html>