<!DOCTYPE html>
<html>
    <head>
        <title>Seemly</title>
        <link href="https://fonts.googleapis.com/css?family=Work+Sans:100,400|Chelsea+Market" rel="stylesheet">
        <link href="/css/styles.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="/js/scripts.js"></script>
    </head>
    <ul class="audits">
    {{#audits}}
        <li class="audit">
            <div class="trends">
                <span class="rank">{{rank}}</span>
                <span class="trend {{rank_trend}}">{{rank_change}}</span>
            </div><div class="panel">
                <div class="screenshot">
                    <img src="data:image/jpeg;base64,{{screenshot}}" alt="{{title}}" />
                </div>
                <div class="information">
                    <div class="site">
                        <h2 class="title">{{title}}</h2>
                        <span class="url">{{url}}</span>
                        <ul class="records">
                            <li class="max">
                                <span class="label">Highest score</span>
                                <span class="value">{{max_score}}</span>
                                <span class="label">reached on</span>
                                <span class="date">{{max_score_date}}</span>
                            </li>
                            <li class="min">
                                <span class="label">Lowest score</span>
                                <span class="value">{{min_score}}</span>
                                <span class="label">reached on</span>
                                <span class="date">{{min_score_date}}</span>
                            </li>
                        </ul>
                    </div>
                    <div class="scores">
                        <ul>
                            <li class="score">{{score}}</span>
                            <li class="change {{change_trend}}">{{change}}</span>
                        </ul>
                    </div>
                </div>
            </div>
        </li>
    {{/audits}}
    </ul>
</html>
