<!DOCTYPE html>
<html>
    <head>
        <title>Seemly</title>
        <link href="https://fonts.googleapis.com/css?family=Work+Sans:100,400|Chelsea+Market" rel="stylesheet">
        <link href="/css/styles.css" rel="stylesheet" type="text/css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="/js/scripts.js"></script>
    </head>
    <ul>
    {{#audits}}
        <li>
        {{#value}}
            <div class="screenshot">
                <img src="data:image/jpeg;base64,{{screenshot}}" alt="{{title}}" />
            </div>
            <div class="site">
                <h2 class="title">{{title}}</h2>
                <span class="url">{{url}}</span>
            </div>
            <div class="score">
                <span class="number">{{score}}</span>
            </div>
        {{/value}}
        </li>
    {{/audits}}
    </ul>
</html>